<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.fry-tftp-server</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/fry-tftp-server</string>
        <string>--headless</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/fry-tftp-server.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/fry-tftp-server.error.log</string>
    <key>UserName</key>
    <string>nobody</string>
</dict>
</plist>
